/*Huiwen Cai 8922586*/
body{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 206, 241);
}

h1 {
    color:blueviolet; 
    font-size:30px;
}

h2{
    color:#b58;
    font-size: 2em;
}
header{
    background-color : hsla(139, 54%, 28%, 0.779);
}

nav ul li {
    display : inline;
    list-style-type: none;
}

nav ul li a {
    color : indigo;
    border : 2px solid indigo;
    background-color: cornsilk;
    text-decoration : none;
    padding : 5px;
}

nav ul li a:hover{
    color: cornsilk;
    background-color: indigo;
    border-color: cornsilk;
}

main{
    float : left;
    width: 65vw;
    background-color : hsl(80, 29%, 90%);
}

aside{
    float : right;
    width: 25vw;
    background-color : hsla(137, 32%, 48%, 0.687);
}

aside li{
    list-style-type: square;
    line-height: 2em;
    color: rgba(114, 54, 250, 0.5);
}
aside a{
    color: rgba(114, 54, 250, 0.5);
}

aside a:hover{
    color : #f02;
}

footer{
    clear : both;
    background-color : hsl(119, 20%, 42%);
}

.structural{
    margin : 10px;
    padding : 10px;
    border : 2px solid green;
}

#para1{
    color : rgb(146, 72, 181);
}
#para2{
    color : rgb(115, 39, 143);
}

form{
    border : 5px dashed #b58;
    padding : 5px;
}

input[type=text], input[type=email], input[type=submit], select, option{
    width : 50%;
    display : block; 
    height : 2em;

}

input[type=radio], input[type=checkbox]{
    height : 2em;
    width : 2em;
}

select, option, label, legend, input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    display: block;
    width: 50%;
}

fieldset{
    border: none;
}

footer p{
    font-size: .75em;
}